[user]
	name = Fernando Flórez
	email = fernando@funciton.com
[core]
	excludesfile = ~/.gitignore_global
	pager = delta
[init]
	defaultBranch = dev
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
[merge]
	conflictStyle = zdiff3
[diff]
	colorMoved = default
