[submodule "tmux/.config/tmux/tpm"]
	path = tmux/.config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/fernandoflorez/nv.git
    branch = dev
